.div2{
    background-color:	peachpuff;
    padding-left: 15rem;
    padding-right: 40rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.div1{
    background-color: lightskyblue;
    padding-left: 15rem;
    padding-right: 40rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.div3{
    background-color: 	plum;
    padding-left: 15rem;
    padding-right: 40rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
}